<h2>New Task</h2>

<form action="/tasks" method="post">

  <label for="name">Task Name: </label><input type="text" name="task[name]" size="50"><br><br>
  <label for="due_date">Due Date: </label><input type="date" name="task[due_date]">
  <label for="do_date">Do Date: </label><input type="date" name="task[do_date]"><br><br>
  <label for="category">Category: </label>
    <select id="category" name="task[category]">
      <option value="approval">approval</option>
      <option value="decision">decision</option>
      <option value="deliverable">deliverable</option>
      <option value="email">email</option>
      <option value="fyi">fyi</option>
      <option value="preparation">preparation</option>
      <option value="review">review</option>
      <option value="tracking">tracking</option>
      <option value="other" selected>other</option>
    </select>
  <label for="size">Size: </label>
    <select id="size" name="task[size]">
      <option value="0" selected>0</option>
      <option value="1">1</option>  
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select><br><br>
  <label for="note">Note: </label><br>
    <textarea name="note[content]" rows="5" cols="50"></textarea><br><br>
  <input type="submit" value="Create Task">

</form>
