<h2><%= @user.name %></h2>

<% if flash[:message] %>
  <h6><%= flash[:message] %></h3>
<% end %>

<% @references.each do |reference| %>
    </h3><a href="/references/<%= reference.id %>"><%= reference.title %></a><h3>
<% end %>
<br>
<a href="/references/new">Add a new reference</a>