<form action="/references" method="post">
  <h2><label for="[reference][title]">Title: </label><input type="text" name="[reference][title]" </h2><br>
  <textarea class="reference-textarea" name="[reference][description]" rows="20" cols="100"></textarea><br>

  <input type="submit" value="Create Reference">
</form>