<form action="/references" method="post">
  <h2><label for="[reference][title]">Title: </label><input type="text" name="[reference][title]" </h2><br>
  <textarea class="reference-textarea" name="[reference][description]" rows="20" cols="100"></textarea><br>
  <p>To include a link, copy <code>&lt;a href="http://[insert link here]"&gt;[describe link here]&lt;/a&gt;</code> and replace brackets and their contents</p>
  <input type="submit" value="Create Reference">
</form>