<h2><%= @reference.title %></h2>

<textarea readonly class="show-textarea" name="[reference][description]" rows="20" cols="100"><%= @reference.description %></textarea><br>

<a href="/references/<%= @reference.id %>/edit">Edit</a>