<h2>Log in</h2>

<form action="/login" method="post">

  <label for="email">Email: </label><input type="text" name="email"><br>
  <label for="password">Password: </label><input type="password" name="password"><br><br>
  <input type="submit" value="Log in">

</form>
<% if flash[:message] %>
  <h6><%= flash[:message] %></h3>
<% end %>
<br><br>
<a href="/signup">Sign Up instead</a>