<h2>Sign up</h2>

<form action="/users" method="post">

  <label for="name">Name: </label><input type="text" name="name"><br>
  <label for="email">Email: </label><input type="text" name="email"><br>
  <label for="password">Password: </label><input type="password" name="password"><br><br>
  <input type="submit" value="Sign up">

</form>
<% if flash[:message] %>
  <h6><%= flash[:message] %></h3>
<% end %>
<br><br>
<a href="/login">Log In instead</a>