<h1>Forward Position task manager</h1>

<a href="/login">Log In</a> | <a href="/signup">Sign Up</a>
<br><br>
<ul>
  <li>Add tasks to your task list</li>
  <li>Include due date, do date (the date you plan to complete the task), task category, size, and description for tasks</li>
  <li>Add notes to any task</li>
  <li>Create references out of commonly used information</li>
  <li>Edit tasks, delete or mark them done</li>
  <li>Grant access to an assistant who can create and edit your tasks and references through their account</li>
</ul>
